services:
  h5web:
    build:
      context: ./h5web_app
      args:
        - H5WEB_APP_PORT=${H5WEB_APP_PORT:-3000}
        - VITE_HSDS_URL=${VITE_HSDS_URL}
        - VITE_HSDS_USER=${VITE_HSDS_USER:-admin}
        - VITE_HSDS_PASSWORD=${VITE_HSDS_PASSWORD:-admin}
    ports:
      - "${H5WEB_APP_PORT}:${H5WEB_APP_PORT}"
